extends layout

block content
  h1.myTitle #{title}

  .row
    each genre in genre_list
      .col-sm-3
        .card.text-center.my-auto
          .card-body
            a.stretched-link(href=genre.url)
                h2 #{genre.name}

    else
          li There are no genre.